<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header flex-wrap">
                        <div class="card-title">
                            <!--begin::Details-->
                            <div class="d-flex align-items-center flex-wrap mr-2">
                                <!--begin::Title-->
                                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">New Websites</h5>
                                <!--end::Title-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <div class="card-toolbar">
                            <button class="btn btn-primary" routerLink="/activate_more_services/new_mobile_apps">Next</button>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <h4 class="text-center">Template 1</h4>
                                <div class="screen">
                                    <img src="assets/media/services/template1.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4 class="text-center">Template 2</h4>
                                <div class="screen screen1">
                                    <img src="assets/media/services/template2.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h4 class="text-center">Template 3</h4>
                                <div class="screen screen2">
                                    <img src="assets/media/services/template3.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5"><button class="btn btn-primary">Schedule a Call</button></div>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->