<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-2 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid" id="kt_login">
        <!--begin::Aside-->
        <div class="login-aside order-1 order-lg-2 d-flex flex-column-fluid flex-lg-row-auto bgi-size-cover bgi-no-repeat p-7 p-lg-10">
            <!--begin: Aside Container-->
            <div class="d-flex flex-row-fluid flex-column justify-content-between bg-white p-10 rounded-xl">
                <!--begin::Aside body-->
                <div class="d-flex flex-column-fluid flex-column flex-center mt-5 mt-lg-0">
                    <a href="#" class="mb-15 text-center">
                        <img src="assets/media/logos/logo-dark.png" class="max-h-75px" alt="" />
                    </a>
                    <!--begin::Signin-->
                    <div class="login-form login-signin">
                        <div class="text-center mb-10 mb-lg-20">
                            <h2 class="font-weight-boldest">Sign In</h2>
                            <p class="text-muted font-weight-bold">Please fill details below to continue</p>
                        </div>
                        <!--begin::Form-->
                        <form class="form" novalidate="novalidate" id="kt_login_signin_form">
                            <div class="form-group py-3 m-0">
                                <label for="" class="font-weight-bolder">Email</label>
                                <input class="form-control h-auto" type="Email" placeholder="Enter email..." name="username" autocomplete="off" />
                            </div>
                            <div class="form-group py-3 m-0">
                                <label for="" class="font-weight-bolder">Password</label>
                                <input class="form-control h-auto" type="Password" placeholder="Enter password..." name="password" />
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between align-items-center mt-3">
                                <div class="checkbox-inline">
                                    <label class="checkbox checkbox-outline m-0 text-muted">
                                    <input type="checkbox" name="remember" />
                                    <span></span>Remember me</label>
                                </div>
                                <a href="javascript:;" id="kt_login_forgot" class="text-muted text-hover-primary">Forgot Password ?</a>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-end align-items-center mt-2">
                                <button id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3" routerLink="/">Sign In</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Signin-->
                </div>
                <!--end::Aside body-->
                <!--begin: Aside footer for desktop-->
                <div class="d-flex flex-column-auto justify-content-between mt-15">
                    <div class="text-dark-50 font-weight-bold order-2 order-sm-1 my-2">© 2023 iMenu360</div>
                    <div class="d-flex order-1 order-sm-2 my-2">
                        <a href="#" class="text-muted text-hover-primary">Privacy</a>
                        <a href="#" class="text-muted text-hover-primary ml-4">Legal</a>
                        <a href="#" class="text-muted text-hover-primary ml-4">Contact</a>
                    </div>
                </div>
                <!--end: Aside footer for desktop-->
            </div>
            <!--end: Aside Container-->
        </div>
        <!--begin::Aside-->
        <!--begin::Content-->
        <div class="order-2 order-lg-1 flex-column-auto flex-lg-row-fluid d-flex flex-column p-7" style="background-image: url(assets/media/bg/bg-4.jpg);">
            <!--begin::Content body-->
            <div class="d-flex flex-column-fluid flex-lg-center">
                <div class="d-flex flex-column justify-content-center">
                    <div class="theme-light-show mx-auto mw-100 w-150px w-lg-400px mb-10 mb-lg-20">
                        <img src="assets/media/agency.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="text-gray-800 display-4 font-weight-boldest text-center mb-7">Restaurant Online Ordering Solutions</h3>
                    <p class="font-weight-bold font-size-lg opacity-80 text-center col-lg-8 mx-auto">We have excellent restaurant online ordering softwares, you have your audience. Let’s conquer the market together.</p>
                </div>
            </div>
            <!--end::Content body-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Login-->
</div>
<!--end::Main-->