<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mr-3 back-arrow" routerLink="/setup">Back</a>
                <div class="card-label">Owner Personal Information</div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label>Owner Name</label>
                <div class="input-icon">
                    <input type="text" class="form-control" placeholder="Enter Name..." />
                    <span><i class="la la-store icon-md"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Owner Email</label>
                        <div class="input-icon">
                            <input type="email" class="form-control" placeholder="Enter Phone..." />
                            <span><i class="la la-envelope-o icon-md"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Owner Phone</label>
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Enter Name..." />
                            <span><i class="la la-phone icon-md"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label>Country</label>
                <select name="" id="" class="form-control">
                    <option value="">Choose Country</option>
                </select>
            </div>
            <div class="form-group">
                <label>State</label>
                <select name="" id="" class="form-control">
                    <option value="">Choose State</option>
                </select>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>City</label>
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Enter City..." />
                            <span><i class="la la-city icon-md"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Postal Code</label>
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Enter Postal Code..." />
                            <span><i class="la la-city icon-md"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Street Name & Number</label>
                <div class="input-icon">
                    <input type="text" class="form-control" placeholder="Enter Street Name & Number..." />
                    <span><i class="la la-map-signs icon-md"></i></span>
                </div>
            </div>
            
        </form>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-primary" routerLink="/setup/restaurant_basics">Save</button>
    </div>
</div>
<!--End::Choose Restaurant Option-->