<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="card-label">Receive Orders</div>
        </div>
        <div class="card-toolbar">
            <a href="javascript:void(0);" class="btn btn-primary" routerLink="/setup/service_charges">Next</a>
        </div>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group row mb-0">
                <label for="" class="col-3 col-form-label">Receive Order:</label>
                <div class="col-9">
                    <select class="form-control" aria-describedby="basic-addon2">
                        <option>POS Setup</option>
                        <option value="">Tablet & Printer</option>
                        <option value="">Printer App</option>
                        <option value="">Mobile App</option>
                        <option value="">Email and Fax</option>
                    </select>
                </div>
            </div>
            <!-- Below diw shows according to Above Selection-->
            <div class="separator separator-solid my-5"></div>
            <div class="form-group ">
                <label for="">POS Setup:</label>
                <div class="row">
                    <div class="col-lg-6">
                        <label class="option">
                            <span class="option-control">
                                <span class="radio">
                                    <input type="radio" name="m_option_1" value="1" checked="checked" />
                                    <span></span>
                                </span>
                            </span>
                            <span class="option-label">
                                <span class="option-head">
                                    <span class="option-title">
                                        Clover
                                    </span>
                                    <span class="option-focus">
                                        Free
                                    </span>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="option">
                            <span class="option-control">
                                <span class="radio">
                                    <input type="radio" name="m_option_1" value="1" />
                                    <span></span>
                                </span>
                            </span>
                            <span class="option-label">
                                <span class="option-head">
                                    <span class="option-title">
                                        Deliverect
                                    </span>
                                    <span class="option-focus">
                                        Free
                                    </span>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="option">
                            <span class="option-control">
                                <span class="radio">
                                    <input type="radio" name="m_option_1" value="1" checked="checked" />
                                    <span></span>
                                </span>
                            </span>
                            <span class="option-label">
                                <span class="option-head">
                                    <span class="option-title">
                                        NCC 
                                    </span>
                                    <span class="option-focus">
                                        Free
                                    </span>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="option">
                            <span class="option-control">
                                <span class="radio">
                                    <input type="radio" name="m_option_1" value="1" />
                                    <span></span>
                                </span>
                            </span>
                            <span class="option-label">
                                <span class="option-head">
                                    <span class="option-title">
                                        Aldelo
                                    </span>
                                    <span class="option-focus">
                                        Free
                                    </span>
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="separator separator-solid my-5"></div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group ">
                        <label for="">Printer App:</label>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="option">
                                    <span class="option-control">
                                        <span class="radio">
                                            <input type="radio" name="m_option_1" value="1" checked="checked" />
                                            <span></span>
                                        </span>
                                    </span>
                                    <span class="option-label">
                                        <span class="option-head">
                                            <span class="option-title">
                                                Desktop
                                            </span>
                                            <span class="option-focus">
                                                Free
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group ">
                        <label for="">Table & Printer App:</label>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="option">
                                    <span class="option-control">
                                        <span class="radio">
                                            <input type="radio" name="m_option_1" value="1" checked="checked" />
                                            <span></span>
                                        </span>
                                    </span>
                                    <span class="option-label">
                                        <span class="option-head">
                                            <span class="option-title">
                                                Desktop
                                            </span>
                                            <span class="option-focus">
                                                Free
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <label class="option">
                                    <span class="option-control">
                                        <span class="radio">
                                            <input type="radio" name="m_option_1" value="1" checked="checked" />
                                            <span></span>
                                        </span>
                                    </span>
                                    <span class="option-label">
                                        <span class="option-head">
                                            <span class="option-title">
                                                Tablet
                                            </span>
                                            <span class="option-focus">
                                                Free
                                            </span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-solid my-5"></div>
            <div class="form-group ">
                <label for="">Mobile App:</label>
                <div class="row">
                    <div class="col-lg-6">
                        <label class="option">
                            <span class="option-control">
                                <span class="radio">
                                    <input type="radio" name="m_option_1" value="1" checked="checked" />
                                    <span></span>
                                </span>
                            </span>
                            <span class="option-label">
                                <span class="option-head">
                                    <span class="option-title">
                                        Android
                                    </span>
                                    <span class="option-focus">
                                        Free
                                    </span>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="option">
                            <span class="option-control">
                                <span class="radio">
                                    <input type="radio" name="m_option_1" value="1" />
                                    <span></span>
                                </span>
                            </span>
                            <span class="option-label">
                                <span class="option-head">
                                    <span class="option-title">
                                        iOS
                                    </span>
                                    <span class="option-focus">
                                        Free
                                    </span>
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--End::Choose Restaurant Option-->