<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mr-3 back-arrow" routerLink="/setup/delivery">Back</a>
                <div class="card-label">Delivery zone</div>
            </div>
        </div>
        <div class="card-toolbar">
            <button class="btn btn-primary" routerLink="/setup/dinein">Next</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive border min-h-180px">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Telephone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Demo Restaurant</td>
                        <td>12 Birchwood Ave, Peobody MA USA 96218</td>
                        <td>773-404-7587</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table table-sm table-borderless">
                <tbody>
                    <tr>
                        <th width="50px">Note :</th>
                        <td>
                            <p class="m-0 font-size-sm">On initial set up zone 1 creates a 1 mile radius, zone 2 a 3
                                mile radius and zone 3 a 5 mile radius.</p>
                            <p class="m-0 font-size-sm">These zones can be adjusted by moving the small circles. You
                                must save for the zones to take effect.</p>
                            <p class="m-0 font-size-sm">In addition, these zones act as a guide to your customers and do
                                allow orders to be taken outside the zone.</p><br>
                            <p class="m-0 font-size-sm">To block customers from ordering outside these delivery zones,
                                please check box.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="checkbox-list">
                <label class="checkbox">
                    <input type="checkbox" name="Checkboxes1" />
                    <span></span>
                    BLOCK for addresses outside delivery zone
                </label>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <p class="mb-0 mr-2"><b>Delivery Area Charges:</b></p>
            <div class="form-group mb-0 mr-3 w-150px">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="bg-danger input-group-text p-1">
                            <label class="checkbox checkbox-inline text-white">
                                <input type="checkbox" class=""/>
                                <span class="mr-2"></span>
                                Zone 1
                            </label>
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox" />
                </div>
            </div>
            <div class="form-group mb-0 mr-3 w-150px">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="bg-success input-group-text p-1">
                            <label class="checkbox checkbox-inline text-white">
                                <input type="checkbox" class=""/>
                                <span class="mr-2"></span>
                                Zone 1
                            </label>
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox" />
                </div>
            </div>
            <div class="form-group mb-0 mr-3 w-150px">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="bg-info input-group-text p-1">
                            <label class="checkbox checkbox-inline text-white">
                                <input type="checkbox" class=""/>
                                <span class="mr-2"></span>
                                Zone 1
                            </label>
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox" />
                </div>
            </div>
        </div>
        <div class="mt-2">
            <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13004086.334105982!2d-104.65739648712889!3d37.27555856333408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1669125383606!5m2!1sen!2sin"
        width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!--End::Choose Restaurant Option-->