<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="card card-custom gutter-b">
            <!--begin::Body-->
            <div class="card-body">
                <div class="display-4 mb-5">Send Us Email</div>
                <form action="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Restaurant Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Let us know why you are reaching out </label>
                        <textarea class="form-control" rows="7"></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary min-h-50px min-w-200px">Submit</button>
                    </div>
                </form>
            </div>
            <!--end::Body-->
        </div>
        <div class="card card-custom">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <div class="h2 mb-5">Customer Support</div>
                        <div class="mb-5"><a href="mailto:support@imenu360.com"><i class="la la-envelope-o p-2 bg-light-info rounded mb-4"></i><br> support@imenu360.com</a></div>
                        <div><a href="tel:866-629-9646"><i class="la la-phone p-2 bg-light-danger rounded mb-4"></i><br> (866)629-9646 Ext. 1</a></div>
                    </div>
                    <div class="col-lg-4 text-center border-left border-right">
                        <div class="h2 mb-5">Contact Sales</div>
                        <div class="mb-5"><a href="mailto:sales@imenu360.com"><i class="la la-envelope-o p-2 bg-light-info rounded mb-4"></i><br> sales@imenu360.com</a></div>
                        <div><a href="tel:866-629-9646"><i class="la la-phone p-2 bg-light-danger rounded mb-4"></i><br> (866)629-9646 Ext. 2</a></div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="h2 mb-5">Billing</div>
                        <div class="mb-5"><a href="mailto:billing@imenu360.com"><i class="la la-envelope-o p-2 bg-light-info rounded mb-4"></i><br> billing@imenu360.com</a></div>
                        <div><a href="tel:866-629-9646"><i class="la la-phone p-2 bg-light-danger rounded mb-4"></i><br> (866)629-9646 Ext. 4</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->