<div class="row">
    <div class="col-xl-4">
        <!--begin::Input-->
        <div class="form-group">
            <label>Contact Name</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your Contact
                name.</span>
        </div>
        <!--end::Input-->
    </div>
    <div class="col-xl-4">
        <!--begin::Input-->
        <div class="form-group">
            <label>Contact Email</label>
            <input type="email"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your contact
                email.</span>
        </div>
        <!--end::Input-->
    </div>
    <div class="col-xl-4">
        <!--begin::Input-->
        <div class="form-group">
            <label>Contact Phone</label>
            <input type="tel"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your contact
                phone.</span>
        </div>
        <!--end::Input-->
    </div>
</div>

<div class="row">
    <div class="col-xl-4">
        <!--begin::Input-->
        <div class="form-group">
            <label>Business Name</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your Business
                name.</span>
        </div>
        <!--end::Input-->
    </div>
    <div class="col-xl-4">
        <!--begin::Input-->
        <div class="form-group">
            <label>Business Email</label>
            <input type="email"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your business
                email.</span>
        </div>
        <!--end::Input-->
    </div>
    <div class="col-xl-4">
        <!--begin::Input-->
        <div class="form-group">
            <label>Business Phone</label>
            <input type="tel"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your business
                phone.</span>
        </div>
        <!--end::Input-->
    </div>
</div>
<div class="row">

    <div class="col-xl-6">
        <!--begin::Input-->
        <div class="form-group">
            <label>Business Address</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your business
                address.</span>
        </div>
        <!--end::Input-->
    </div>
    <div class="col-xl-6">
        <!--begin::Input-->
        <div class="form-group">
            <label>Business Hours</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your business
                hours.</span>
        </div>
        <!--end::Input-->
    </div>

</div>
<!--begin::Input-->
<div class="form-group">
    <label>Sales Tax</label>
    <input type="text"
        class="form-control form-control-solid form-control-lg" />
    <span class="form-text text-muted">Please enter your sales tax.</span>
</div>
<!--end::Input-->
<h4 class="mb-10 font-weight-bold text-dark">Time Zone</h4>
<div class="row">

    <div class="col-xl-6">
        <!--begin::Input-->
        <div class="form-group">
            <label>Choose Timezone</label>
            <select class="form-control form-control-solid form-control-lg">
                <option>CST</option>
                <option>EST</option>
                <option>PST</option>
                <option>MST</option>
                <option>AZT</option>
            </select>
        </div>
        <!--end::Input-->
    </div>
    <div class="col-xl-6">
        <!--begin::Input-->
        <div class="form-group">
            <label>Current Website</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your business
                hours.</span>
        </div>
        <!--end::Input-->
    </div>
</div>