<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="card-label">Please validate your email address</div>
        </div>
        <div class="card-toolbar">
            <button class="btn btn-primary" routerLink="/setup/pickup">Next</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <p>A moment ago we have sent  you an email to <b>sanjay01694@gmail.com</b></p>
                <p>Please click on the link in order to validate your email address. If you don't see it please check your spam folder. In case you find the email in spam folder, Please mark the email as '<b>safe</b>'</p>
                <button class="btn btn-dark">Resend activation email</button>
            </div>
            <div class="col-lg-4">
                <p class="text-center mb-0"><i class="la la-frown-o text-danger icon-10x"></i></p>
                <p class="text-center font-weight-bolder text-danger">Not yet validated</p>
            </div>
        </div>
        <!-- If Validated -->
        <!-- <div class="row align-items-center">
            <div class="col-lg-8">
                <p>A moment ago we have sent  you an email to <b>sanjay01694@gmail.com</b></p>
                <p>Please click on the link in order to validate your email address. If you don't see it please check your spam folder. In case you find the email in spam folder, Please mark the email as '<b>safe</b>'</p>
            </div>
            <div class="col-lg-4">
                <p class="text-center mb-0"><i class="la la-smile-o text-success icon-10x"></i></p>
                <p class="text-center font-weight-bolder text-success">Validated</p>
            </div>
        </div> -->
    </div>
</div>
<!--End::Choose Restaurant Option-->