<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header flex-wrap">
                        <div class="card-title">
                            <!--begin::Details-->
                            <div class="d-flex align-items-center flex-wrap mr-2">
                                <!--begin::Title-->
                                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">New Mobile Apps</h5>
                                <!--end::Title-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <div class="card-toolbar">
                            <button class="btn btn-primary" routerLink="/activate_more_services/email_marketing">Next</button>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <div>
                            <a href="https://play.google.com/store/apps/details?id=com.imenu360demo" target="_blank"><img src="assets/media/services/download-google.png" alt="" class="img-fluid mr-3" width="120px"></a>
                            <a href="https://apps.apple.com/us/app/demo-restaurant/id1552380947" target="_blank"><img src="assets/media/services/download-apple.png" alt="" class="img-fluid" width="120px"></a>
                        </div>
                        <p class="my-5">Keep up with the competition with custom-built iPhone and Android restaurant apps that are branded to your business. Our mobile apps showcase your logo and food, creating the ultimate brand experience from mobile, to the web, to in-store.<br><br><b>Interested?</b></p>
                        <button class="btn btn-primary">Schedule a Call</button>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->