<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mr-3 back-arrow" routerLink="/setup/delivery_zone">Back</a>
                <div class="card-label">Dine-in</div>
            </div>
            
        </div>
        <div class="card-toolbar">
            <a href="javascript:void(0);" class="btn btn-primary" routerLink="/setup/curbside">Next</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h4 class="m-0">Do you offer dine-in ordering?</h4>
            </div>
            <div class="col-lg-4 text-right">
                <div class="custom-radio-btns">
                    <div class="button">
                        <input type="radio" id="yes" name="check-substitution-2" checked/>
                        <label class="btn btn-outline-secondary" for="a50">Yes</label>
                    </div>
                    <div class="button">
                        <input type="radio" id="no" name="check-substitution-2" />
                        <label class="btn btn-outline-secondary" for="a25">No</label>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <a href="javascript:void(0);" data-toggle="popover" data-html="true" data-placement="top" data-container="body" class="text-decoration-underline">How it works for your clients?</a>
                <div id="popover-content" class="d-none">
                    <form class="form-inline" role="form">
                      <div class="form-group"> 
                        <input class="headerSearch search-query" id="str" name="str" type="text" placeholder="Search..." />
                        <span class="glyphicon glyphicon-search" style="margin:3px 8px 0 -20px;"></span>
                        <input class="btn btn-primary btn-xs" id="phSearchButton" type="submit" value="Search" /> 
                        <input class="btn btn-primary btn-xs" id="searchButton" type="submit" value="Dictionary" />
                      </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>
</div>
<!--End::Choose Restaurant Option-->
