<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header flex-wrap">
                        <div class="card-title">
                            <!--begin::Details-->
                            <div class="d-flex align-items-center flex-wrap mr-2">
                                <!--begin::Title-->
                                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">POS Integration</h5>
                                <!--end::Title-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <div class="card-toolbar">
                            <button class="btn btn-primary" routerLink="/activate_more_services/five_star_reviews">Next</button>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div><a href="https://www.deliverect.com/en" target="_blank"><img src="assets/media/services/deliverect.svg" alt="" class="img-fluid" width="150px"></a></div>
                                <p class="my-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <button class="btn btn-primary">Schedule a Call</button>
                            </div>
                            <div class="col-lg-6">
                                <div><a href="https://get.imenu360.com/" target="_blank"><img src="assets/media/services/360.png" alt="" class="img-fluid" style="height: 53px;"></a></div>
                                <p class="my-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <button class="btn btn-primary">Schedule a Call</button>
                            </div>
                        </div>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->