<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mr-3 back-arrow" routerLink="/setup/payment_method">Back</a>
                <div class="card-label">Online Payment</div>
            </div>
            
        </div>
        <div class="card-toolbar">
            <a href="javascript:void(0);" class="btn btn-primary" routerLink="/setup/receive_orders">Next</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h4 class="m-0">Accept online / credit card payments?</h4>
            </div>
            <div class="col-lg-4 text-right">
                <div class="custom-radio-btns">
                    <div class="button">
                        <input type="radio" id="yes" name="check-substitution-2" checked/>
                        <label class="btn btn-outline-secondary" for="a50">Yes</label>
                    </div>
                    <div class="button">
                        <input type="radio" id="no" name="check-substitution-2" />
                        <label class="btn btn-outline-secondary" for="a25">No</label>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card card-custom card-bordered">
                    <div class="card-body">
                        <h5>Select a payment processing:</h5>
                        <div class="custom-checkbox-btns w-50">
                            <div class="button">
                                <input type="checkbox" id="yes" name="check-substitution-2" checked/>
                                <label class="btn btn-outline-secondary" for="a50">Stripe</label>
                            </div>
                            <div class="button">
                                <input type="checkbox" id="no" name="check-substitution-2" />
                                <label class="btn btn-outline-secondary" for="a25">TSYS</label>
                            </div>
                            <div class="button">
                                <input type="checkbox" id="no" name="check-substitution-2" />
                                <label class="btn btn-outline-secondary" for="a25">Others</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::Choose Restaurant Option-->

