<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <label class="option">
                    <span class="option-control">
                        <span class="radio">
                            <input type="radio" name="m_option_1" value="1" checked="checked" />
                            <span></span>
                        </span>
                    </span>
                    <span class="option-label">
                        <span class="option-head">
                            <span class="option-title">
                                New Location
                            </span>
                        </span>
                        <span class="option-body">
                            Please choose to add a new restaurant
                        </span>
                    </span>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="option">
                    <span class="option-control">
                        <span class="radio">
                            <input type="radio" name="m_option_1" value="1" />
                            <span></span>
                        </span>
                    </span>
                    <span class="option-label">
                        <span class="option-head">
                            <span class="option-title">
                                Existing Chain
                            </span>
                        </span>
                        <span class="option-body">
                            Please choose this if you have existing restaurant chain
                        </span>
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-primary" routerLink="/setup/owner_personal_info" >Save</button>
    </div>
</div>
<!--End::Choose Restaurant Option-->