<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="card-label">Taxation and Currency</div>
        </div>
        <div class="card-toolbar">
            <a href="javascript:void(0);" class="btn btn-primary" routerLink="/setup/service_charges">Next</a>
        </div>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Sales Tax:</label>
                <div class="input-group">
                    <select class="form-control" aria-describedby="basic-addon2">
                        <option>Menu prices already include taxes</option>
                        <option value="">Apply tax on top of my menu prices</option>
                    </select>
                    <div class="input-group-append"><span class="input-group-text"><i class="la la-info-circle"></i></span></div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Currency:</label>
                <div class="input-group">
                    <select class="form-control" aria-describedby="basic-addon2">
                        <option><b class="text-uppercase">AED</b> - UAE Dirham</option>
                        <option value=""><b class="text-uppercase">AFN</b> - Afghani</option>
                    </select>
                    <div class="input-group-append"><span class="input-group-text"><i class="la la-info-circle"></i></span></div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--End::Choose Restaurant Option-->

