#kt_wrapper{
    padding-top: 25px;
}
.custom-radio-btns,
.custom-checkbox-btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.custom-radio-btns .button,
.custom-checkbox-btns .button{
    position: relative;
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
}
.custom-radio-btns .button label,
.custom-radio-btns .button input,
.custom-checkbox-btns .button label,
.custom-checkbox-btns .button input{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.42rem;
    cursor: pointer;
}
.custom-radio-btns .button input[type="radio"],
.custom-checkbox-btns .button input[type="checkbox"] {
    opacity: 0.011;
    z-index: 100;
}
.custom-radio-btns .button input[type="radio"]:checked + label,
.custom-checkbox-btns .button input[type="checkbox"]:checked + label {
    color: #fff;
}
.custom-radio-btns .button input#no[type="radio"]:checked + label,
.custom-checkbox-btns .button input#no[type="checkbox"]:checked + label{
    background: #F64E60;
    border-color: #F64E60;
}
.custom-radio-btns .button input#yes[type="radio"]:checked + label,
.custom-checkbox-btns .button input#yes[type="checkbox"]:checked + label{
    background: #1BC5BD;
    border-color: #1BC5BD;
}
.button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
}
.scroll.scroll-pull{
    padding: 0;
    margin: 0;
    width: 100%;
}
#kt_aside .nav,
.aside .aside-secondary .aside-workspace{
    width: 100%;
}
.aside-secondary-enabled .aside {
    width: 425px;
}
.aside-secondary-enabled.aside-fixed .wrapper {
    padding-left: 425px;
}
.aside .aside-primary{
    width: 130px;
}
.aside-secondary-enabled .aside .aside-primary{
    background-color: #1e1e2d;
}
.btn.btn-icon.btn-lg{
    width: 100%;
    padding: 15px 5px;
    height: auto;
}
.btn.btn-clean:not(:disabled):not(.disabled).active,
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled){
    background-color: #1b1b28;
    
}
.btn.btn-clean .svg-icon svg g [fill]{
    fill: #494b74;
}
.btn.btn-clean:not(:disabled):not(.disabled).active .svg-icon svg g [fill],
.btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) .svg-icon svg g [fill]{
    fill: #009ef7;
}
.btn.btn-clean:not(:disabled):not(.disabled).active .font-menu-title,
.btn.btn-clean:hover:not(:disabled):not(.disabled) .font-menu-title{
    color: #fff;
}
.btn.btn-clean .font-menu-title{
    font-size: 12px;
    font-weight: 500;
    color: #9899ac;
    margin-top: 5px;
}
.btn.btn-lg .svg-icon svg, .btn-group-lg > .btn .svg-icon svg {
    height: 30px !important;
    width: 30px !important;
}
.popover{
    max-width: 400px !important;
}