<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Minutes Required For Placing Delivery Orders</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Last Delivery Up Time To Place Order</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Delivery Charge</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Delivery Minimum Charge</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg">
        </div>
    </div>

</div>
<div class="form-group">
    <label>Delivery Radius</label>
    <input type="text" class="form-control form-control-solid form-control-lg">
</div>

<!--end::Select-->
<div class="row">
    <div class="col-lg-6">
        <!--begin::Select-->
        <div class="form-group">
            <label>First Order Discount</label>
            <select name="packaging"
                class="form-control form-control-solid form-control-lg">
                <option value="10% Off First Order (Most Common)">10% Off First
                    Order (Most Common)</option>
                <option value="5% Off First Order">5% Off First Order</option>
                <option value="15% Off First Order">15% Off First Order</option>
                <option value="20% Off First Order">20% Off First Order</option>
                <option value="25% Off First Order">25% Off First Order</option>
                <option value="No Discount">No Discount</option>
            </select>
        </div>
        <!--end::Select-->
    </div>
    <div class="col-lg-6">
        <!--begin::Select-->
        <div class="form-group">
            <label>Loyalty Program</label>
            <select name="preferreddelivery"
                class="form-control form-control-solid form-control-lg">
                <option value="$5 Off Every $100 (Most Common)">$5 Off Every
                    $100 (Most Common)</option>
                <option value="$10 Off Every $100 Spent">$10 Off Every $100
                    Spent</option>
                <option value="$10 Off Every $200 Spent">$10 Off Every $200
                    Spent</option>
                <option value="No Loyalty Program">No Loyalty Program</option>
            </select>
        </div>
        <!--end::Select-->
    </div>
</div>
<!--begin::Select-->
<div class="form-group">
    <label>How would you like to accept orders?</label>
    <select name="preferreddelivery"
        class="form-control form-control-solid form-control-lg">
        <option value="No Discount">Send me printer &amp; tablet for $299 (US
            Only)</option>
        <option value="Another option">POS integration</option>
        <option value="Another option">Email only</option>
    </select>
</div>
<!--end::Select-->