<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="card-label">Pickup options</div>
        </div>
        <div class="card-toolbar">
            <a href="javascript:void(0);" class="btn btn-primary" routerLink="/setup/delivery">Next</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h4 class="m-0">Do you offer pickup from your location?</h4>
            </div>
            <div class="col-lg-4 text-right">
                <div class="custom-radio-btns">
                    <div class="button">
                        <input type="radio" id="yes" name="check-substitution-2" checked/>
                        <label class="btn btn-outline-secondary" for="a50">Yes</label>
                    </div>
                    <div class="button">
                        <input type="radio" id="no" name="check-substitution-2" />
                        <label class="btn btn-outline-secondary" for="a25">No</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::Choose Restaurant Option-->