<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header flex-wrap">
                        <div class="card-title">
                            <!--begin::Details-->
                            <div class="d-flex align-items-center flex-wrap mr-2">
                                <!--begin::Title-->
                                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Delivery Integration</h5>
                                <!--end::Title-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <div class="card-toolbar">
                            <button class="btn btn-primary" routerLink="/activate_more_services/pos_integration">Next</button>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <div><a href="https://www.usenash.com/" target="_blank"><img src="assets/media/services/nash.svg" alt="" class="img-fluid" width="120px"></a></div>
                        <p class="my-5">Nash is a software that makes it easy to activate delivery for your restaurant without hiring staff on your payroll. They are now integrated with us and many of our restaurants are using this delivery solution rather than losing customers on third-party portals. There is No Set-Up fee and you only pay the delivery fee shown for drivers and a $1 per delivery. You can auto-dispatch for every delivery or you can choose delivery for specific orders at your convenience.</p>
                        <p>Also, we can update the delivery cost for your customers at checkout. <br><br><b>Interested?</b></p>
                        <button class="btn btn-primary">Schedule a Call Now</button>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->