<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header flex-wrap">
                        <div class="card-title">
                            <!--begin::Details-->
                            <div class="d-flex align-items-center flex-wrap mr-2">
                                <!--begin::Title-->
                                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">5 Star Ratings</h5>
                                <!--end::Title-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <div class="card-toolbar">
                            <button class="btn btn-primary" routerLink="/activate_more_services/new_websites">Next</button>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <div><a href="https://ovationup.com/" target="_blank"><img src="assets/media/services/ovation.png" alt="" class="img-fluid" width="120px"></a></div>
                        <p class="my-5">This new tool (ovation) is driving 5-star reviews on Google/Yelp/Tripadvisor. It's completely integrated with our online ordering and with every order you get a chance to get a new 5-star review or eliminate any bad reviews. We have been testing it at hundreds of restaurants and it has tremendous value.<br>
                        This is 100% automated and you don't have to do anything(just respond to bad comments to eliminate bad reviews and cherish the customers). Every customer who places an online order is automatically sent a text asking them to rate their experience. If they rate their experience 5 stars they are then asked to post it on Google and if they leave a bad rating then you get notified in the app so you can resolve the issue on the spot.<br><br><b>Interested?</b> </p>
                        <button class="btn btn-primary">Schedule a Call</button>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->