<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header flex-wrap">
                        <div class="card-title">
                            <!--begin::Details-->
                            <div class="d-flex align-items-center flex-wrap mr-2">
                                <!--begin::Title-->
                                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Email Marketing</h5>
                                <!--end::Title-->
                            </div>
                            <!--end::Details-->
                        </div>
                        <!-- <div class="card-toolbar">
                            <button class="btn btn-primary" routerLink="/activate_more_services/new_websites">Next</button>
                        </div> -->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body p-0">
                        <div class="px-8 pt-4">
                            <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <button class="btn btn-primary">Schedule a Call</button>
                        </div>
                        <div><img src="assets/media/services/email_tempaltes.png" alt="" class="img-fluid"></div>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->