<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="d-flex align-items-center">
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mr-3 back-arrow" routerLink="/setup/service_charges">Back</a>
                <div class="card-label">Payment Methods</div>
            </div>
            
        </div>
        <div class="card-toolbar">
            <a href="javascript:void(0);" class="btn btn-light mr-2" routerLink="/setup/receive_orders">Save</a>
            <a href="javascript:void(0);" class="btn btn-primary" routerLink="/setup/receive_orders">Next</a>
        </div>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Payment Type Mask:</label>
                <div class="checkbox-inline flex-wrap">
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Amex
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        DSCVR
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Cip
                    </label>

                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        US-$
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        N/A
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        VISA
                    </label>

                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Campus Card
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Prsnl Chk
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        CCoP
                    </label>

                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Gift Card
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        $$
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        House Acct
                    </label>

                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Rand
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Mltry STAR
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Google Pay
                    </label>

                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Master Card
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Pay on Pickup
                    </label>

                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        J-YEN
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Paypal
                    </label>
                    <label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary mb-4">
                        <input type="checkbox" name="Checkboxes2"/>
                        <span></span>
                        Apple Pay
                    </label>
                    
                </div>
            </div>
        </form>
    </div>
</div>
<!--End::Choose Restaurant Option-->

