<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="card-label">Alert call</div>
        </div>
        <div class="card-toolbar">
            <a href="javascript:void(0);" class="btn btn-primary" routerLink="/setup/service_charges">Next</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h1>Get an alert call in case an order couldn't be pushed to the order taking app in real-time.</h1>
                <h6 class="mt-5 font-size-sm">Phone number of the ordering supervisor in the restaurant:</h6>
                <div class="input-icon">
                    <input type="text" class="form-control" placeholder="Phone number..."/>
                    <span><i class="la la-phone icon-md"></i></span>
                </div>
            </div>
            <div class="col-lg-5 text-center">
                <img src="assets/media/alert_call.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!--End::Choose Restaurant Option-->