<!--Begin::Choose Restaurant Option-->
<div class="card card-custom shadow-lg">
    <div class="card-header">
        <div class="card-title">
            <div class="card-label">Let your customer know your exact location</div>
        </div>
        <div class="card-toolbar">
            <button class="btn btn-primary" routerLink="/setup/account_confirmation">Save</button>
        </div>
    </div>
    <div class="card-body">
        <div class="text-right">
            <a href="javascript:void(0);" routerLink="/setup/choose-restaurant">Do you want to change your restaurant address?</a>
        </div>
    </div>
</div>
<!--End::Choose Restaurant Option-->