<div class="row">
    <div class="col-xl-6">
        <!--begin::Input-->
        <div class="form-group">
            <label>Bank Name</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your bank
                name.</span>
        </div>
        <!--end::Input-->
        <!--begin::Input-->
        <div class="form-group">
            <label>Account Number</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your account
                number.</span>
        </div>
        <!--end::Input-->

    </div>
    <div class="col-xl-6">
        <!--begin::Input-->
        <div class="form-group">
            <label>Routing Number</label>
            <input type="text"
                class="form-control form-control-solid form-control-lg" />
            <span class="form-text text-muted">Please enter your routing
                number.</span>
        </div>
        <!--end::Input-->
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-lg-right">Upload
                Files:</label>
            <div class="col-lg-9">
                <div class="dropzone dropzone-multi" id="kt_dropzone_4">
                    <div class="dropzone-panel mb-lg-0 mb-2">
                        <a
                            class="dropzone-select btn btn-light-primary font-weight-bold btn-sm">Attach
                            files</a>
                        <a
                            class="dropzone-upload btn btn-light-primary font-weight-bold btn-sm">Upload
                            All</a>
                        <a
                            class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm">Remove
                            All</a>
                    </div>
                    <div class="dropzone-items">
                        <div class="dropzone-item" style="display:none">
                            <div class="dropzone-file">
                                <div class="dropzone-filename"
                                    title="some_image_file_name.jpg">
                                    <span
                                        data-dz-name="">some_image_file_name.jpg</span>
                                    <strong>(
                                        <span
                                            data-dz-size="">340kb</span>)</strong>
                                </div>
                                <div class="dropzone-error"
                                    data-dz-errormessage=""></div>
                            </div>
                            <div class="dropzone-progress">
                                <div class="progress">
                                    <div class="progress-bar bg-primary"
                                        role="progressbar" aria-valuemin="0"
                                        aria-valuemax="100" aria-valuenow="0"
                                        data-dz-uploadprogress=""></div>
                                </div>
                            </div>
                            <div class="dropzone-toolbar">
                                <span class="dropzone-start">
                                    <i class="flaticon2-arrow"></i>
                                </span>
                                <span class="dropzone-cancel" data-dz-remove=""
                                    style="display: none;">
                                    <i class="flaticon2-cross"></i>
                                </span>
                                <span class="dropzone-delete" data-dz-remove="">
                                    <i class="flaticon2-cross"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="form-text text-muted">Max file size is 1MB and max
                    number of files is 5.</span>
            </div>
        </div>
    </div>
</div>